@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  /* Hide scrollbar for Chrome, S afari and Opera */
.no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
.yes-scrollbar::-webkit-scrollbar {
  display: block;
}
/* Hide scrollbar for IE, Edge and Firefox */
.yes-scrollbar {
  -ms-overflow-style: block;  /* IE and Edge */
  scrollbar-width: block;  /* Firefox */
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #262626;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  z-index: 1;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #f9fafb;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1B998B;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1B998B;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@keyframes slideIn {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}
@keyframes slideOut {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  margin-left: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #374151;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f9fafb;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}